<div class="container">
    <h1 align='center'>Welcome to <%= @user.username %>'s page</h1>

    <div class='row'>
        <div class='col-md-12 center'>
            <%= gravatar_for @user, size: 150 %>
        </div>
    </div>

    <h4 align="center"><%= @user.username %>'s posts</h4>

    <div class="center">
        <%= render 'shared/pagination', obj: @user_posts %>
    </div>
        <%= render "posts/post", obj: @user_posts  %>
    <div class="center">
        <%= render 'shared/pagination', obj: @user_posts %>
    </div>
</div>