<div class='row justify-content-between'>
<% obj.each do |post| %>
    
    <div class='col-lg-4 col-sm-6 mb-3'>
        <div class='card text-white bg-success mb-3 cz-color-16777215 cz-color-10002730 cz-color-3549952" style="max-width: 20rem;'>
            <div class="card-header cz-color-16777215 cz-color-4339207 cz-color-3549952">
                <%= link_to post.title, post_path(post), class: "card-link" %>
            </div>
            <div class='card-body cz-color-16777215'>
                <p class='card-text cz-color-16777215'>
                    <%= truncate(post.body, length: 200) %>
                    <div class='post-meta-details'>
                        <small>Created by: <strong><%= post.user.username if post.user%></strong> ,
                                <%= time_ago_in_words(post.created_at) %> ago, <br>
                                Last updated: <%= time_ago_in_words(post.updated_at) %> ago
                        </small>
                    </div>
                </p>

                <% if logged_in? && (current_user == post.user || current_user.admin?) %>
                    <div class='post-actions'>
                        <%= link_to 'Edit post', edit_post_path(post), class: 'btn btn-sm btn-primary' %> 
                        <%= link_to 'Delete post', post_path(post), method: :delete, 
                            data: {confirm: 'You are about to delete this post, are you sure?'},
                            class: "btn btn-sm btn-danger" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
</div>