
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <%= render 'layouts/jumbotron-post' %>
            <div class='post-header mt-2'>
                <h4 align='center'>POSTS</h4>
            </div>
            <%= render 'shared/pagination', obj: @posts %>
            <%= render "post", obj: @posts %>
            <%= render 'shared/pagination', obj: @posts %>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">
            <%= render 'left_sidebar' %>
        </div>
    </div>  
</div>