    

<h2 class='post-title mt-4'> <%= @post.title %></h2>


    <%# <h4 class='center body-desc'><strong>Post:</strong></h4> %>
    
    <div class="post-body mr-3 ml-3">
        <%= raw @post.body %>

        <% if @post.user %>
            <ul class='listing'>
                <div class='row'>
                    <div class="card border-secondary mb-3 mt-2" style="max-width: 20rem;">
                        <div class="card-header ">
                            <%= link_to gravatar_for(@post.user, size:50), user_path(@post.user) %>
                            <%= link_to @post.user.username, user_path(@post.user) %> |
                            <span class="badge badge-pill badge-primary">
                            <small><%= pluralize(@post.user.posts.count, "post") if @post.user.posts %></small>
                            </span>
                        </div>
                    </div>
                </div>
            </ul>
        <% end %>

        <% if @post.categories.any? %>
            <p class="text-primary">Categories: <%= render @post.categories %></p>
        <% end %>
    </div>
    <div class='post-actions'>
        <% if logged_in? && (current_user == @post.user || current_user.admin?) %>
            <%= link_to 'Edit post', edit_post_path(@post), class: 'btn btn-sm btn-primary mb-2 ml-3 mt-3' %> 
            <%= link_to 'Delete post', posts_path(@post), method: :delete, 
            data: {confirm: 'You are about to delete this post, are you sure?'},
            class: "btn btn-sm btn-danger mb-2 ml-1 mt-3" %>
        <% end %>
        <%= link_to 'Back to posts', posts_path, class: 'btn btn-sm btn-success mb-2 ml-1 mt-3'%>
    </div>

    <%# form_with(model: [@post, @comment], local: true) do |f| %>
    <%= form_with(model: @comment, url: [@post, @comment], local: true, class:"cz-color-9868419") do |f| %>
        <%# Errors loop should be here!%>
        
        <h4 class='center body-desc'><strong>Comment:</strong></h4>

        <div class="form-group cz-color-9868419 ml-3 mr-3">
            <%= f.text_area(
            :body,
            cols: 80,
            rows: 5,
            placeholder: "What are your thoughts?",
            class:"form-control cz-color-5722185 cz-color-12434857 cz-color-0") %>
        </div>
            <%= f.submit "Comment", class:'btn btn-success btn-sm mb-2 ml-3' %>
    <% end %>

    <ul class="comment-list">
        <% @comments.each do |comment| %>
            <li>
            <p>
                <%= comment.body %> <br>
                <small>
                <%= link_to(
                    "Delete",
                    post_comment_path(@post.id, comment.id),
                    method: :delete,
                    data: { confirm: "Are you sure?" }
                ) %>
                </small>
                
                <small>commented <%= time_ago_in_words(comment.created_at) %> ago</small>
            </p>
            </li>
        <% end %>
    </ul>

