<h2 align='center'>Title: <%= @post.title %></h2>

<div class='card col-xs-8'>
    <h4 class='center body-desc'><strong>Post:</strong></h4>
    <hr>
    <%= simple_format(@post.body) %>
    <div class='post-actions'>
        <%= link_to 'Edit this post', edit_post_path(@post), class: 'btn btn-sm btn-primary' %> 
        <%= link_to 'Delete post', posts_path(@post), method: :delete, 
        data: {confirm: 'You are about to delete this post, are you sure?'},
        class: "btn btn-sm btn-danger" %>
        <%= link_to 'Back to posts', posts_path, class: 'btn btn-sm btn-success'%>
    </div>
</div>