<!DOCTYPE html>
<html>
  <head>
    <title>Marketing Medium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-8nq3OiMMgrVFAHyRMMO+DTfMEciSY+c3Awhj/5ljQ1xck1Uv2BUtMjsjLD8GT5Er" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/211016c90d.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'home', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="background:white">
    <%= render "layouts/navigation"%>
    
    <%= render "layouts/messages"%>
      <%= yield %>
    
    <%= render "layouts/footer" %>
    
    <% debug(params) if Rails.env.development? %>
  </body>
</html>
